# Ignore heavy model weights and logs
outputs/
ATML\ PA2.pdf
Readings/
ATML_PA2_extracted.txt
Task1_Implementation_Notes.md
Task2_Implementation_Notes.md

# Ignore Python cache files
__pycache__/
*.pyc